* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    color: black;
    
    font: {
        family: monospace;
        size: 1.2rem;
        style: normal;
        weight: 400;
    }
    @media screen and (max-width: 900px) {
        font-size: 1rem;
    }

    h1,
    h2,
    h3 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;

        font: {
            weight: 700;
        }
        @media screen and (max-width: 900px) {
            font-size: 2rem;
        }
    }

    h4,
    h5,
    h6 {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        margin-top: 0.05rem;
        margin-bottom: 0.05rem;

        font: {
            weight: 600;
        }
    }

    h1 { font-size: 2.6rem; visibility: hidden; position: absolute; }
    h2 { font-size: 2.4rem; }
    h3 { font-size: 2.2rem; }
    h4 { font-size: 2.0rem; }
    h5 { font-size: 1.8rem; }
    h6 { font-size: 1.6rem; }

    p {
        padding-top: 10px;
        padding-bottom: 10px;

        margin-top: 2px;
        margin-bottom: 2px;

        font: {
            size: 1.2rem;
            weight: 400;
        }
    }
    
    ul,
    ol {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: blue;

        &:hover {
            color: red;
            transition: all 0.1s ease-in;
        }

        &:active {
            filter: opacity(0.7);
        }
    }
}